<a href="https://colab.research.google.com/github/roshan-pasha/Machine-Learning/blob/master/Playstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
upload_train = files.upload()

Saving Train.csv to Train.csv

In [3]:
from google.colab import files
upload_test = files.upload()

Saving Test.csv to Test.csv

In [4]:
from google.colab import files
upload_submission = files.upload()

Saving Sample_Submission.csv to Sample_Submission.csv

In [57]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
submission = pd.read_csv('Sample_Submission.csv')

In [58]:
print(train.shape,test.shape)

(16516, 11) (24776, 10)

In [59]:
16516+24776

41292

In [60]:
def nunique(df):
  for i in df.columns:
    out = df[i].nunique()
    print(i,' : ',out)

In [61]:
nunique(train)

Offered_By  :  15520
Category  :  51
Rating  :  319
Reviews  :  9124
Size  :  439
Price  :  83
Content_Rating  :  6
Last_Updated_On  :  1583
Release_Version  :  4190
OS_Version_Required  :  27
Downloads  :  18

In [62]:
train.head()

    Offered_By         Category  ...  OS_Version_Required    Downloads
0  ps_id-24654          Finance  ...   Varies with device     100,000+
1  ps_id-35329  Music And Audio  ...           4.1 and up       5,000+
2  ps_id-11044      Game Casual  ...           4.1 and up      10,000+
3  ps_id-36068         Business  ...   Varies with device  10,000,000+
4  ps_id-35831          Medical  ...   Varies with device       5,000+

[5 rows x 11 columns]

In [63]:
nunique(test)

Offered_By  :  22794
Category  :  51
Rating  :  327
Reviews  :  12507
Size  :  560
Price  :  95
Content_Rating  :  6
Last_Updated_On  :  1783
Release_Version  :  5681
OS_Version_Required  :  37

In [64]:
total = pd.concat([train,test])

In [65]:
total.shape

(41292, 11)

In [66]:
nunique(total)

Offered_By  :  36772
Category  :  51
Rating  :  347
Reviews  :  18724
Size  :  703
Price  :  129
Content_Rating  :  6
Last_Updated_On  :  2012
Release_Version  :  8052
OS_Version_Required  :  37
Downloads  :  18

In [67]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41292 entries, 0 to 24775
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Offered_By           41292 non-null  object
 1   Category             41292 non-null  object
 2   Rating               41292 non-null  float64
 3   Reviews              41292 non-null  int64
 4   Size                 41292 non-null  object
 5   Price                41292 non-null  object
 6   Content_Rating       41292 non-null  object
 7   Last_Updated_On      41292 non-null  object
 8   Release_Version      41292 non-null  object
 9   OS_Version_Required  41292 non-null  object
 10  Downloads            16516 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.8+ MB

In [68]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [69]:
cat = ['Category','Content_Rating','Release_Version','OS_Version_Required']
for items in cat:
    total[items]=le.fit_transform(total[items])

In [70]:
total.head()

    Offered_By  Category  ...  OS_Version_Required    Downloads
0  ps_id-24654        12  ...                   36     100,000+
1  ps_id-35329        38  ...                   21       5,000+
2  ps_id-11044        21  ...                   21      10,000+
3  ps_id-36068         4  ...                   36  10,000,000+
4  ps_id-35831        37  ...                   36       5,000+

[5 rows x 11 columns]

In [71]:
total.Price.value_counts()

Free                  38623
73.8342                 446
222.9942                417
148.4142                370
372.1542                303
                      ...
1416.2741999999998        1
289.37039999999996        1
6338.5542                 1
81.29220000000001         1
146.9226                  1
Name: Price, Length: 129, dtype: int64

In [72]:
total['Price'] = total['Price'].replace('Free',0)

In [73]:
total['Price']= total['Price'].astype(str).astype(float)

In [74]:
total['Size'].value_counts()

Varies with device    4830
11M                   1015
12M                    872
13M                    773
14M                    761
                      ...
897k                     1
414k                     1
924k                     1
295k                     1
578k                     1
Name: Size, Length: 703, dtype: int64

In [75]:
total['Size'] = total['Size'].replace('Varies with device',np.nan)

In [76]:
total['Size'] = total['Size'].str.replace(',','').str.replace('.', '')

In [77]:
total['Size'] = (total.Size.replace(r'[kM]+$', '',regex = True ).astype(float)  * 
                            total.Size.str.extract(r'[\d\.]+([kM]+)', expand = False).fillna(1)
            .replace(['k','M'],[10**3,10**6]).astype(int))

In [78]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41292 entries, 0 to 24775
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Offered_By           41292 non-null  object
 1   Category             41292 non-null  int64
 2   Rating               41292 non-null  float64
 3   Reviews              41292 non-null  int64
 4   Size                 36462 non-null  float64
 5   Price                41292 non-null  float64
 6   Content_Rating       41292 non-null  int64
 7   Last_Updated_On      41292 non-null  object
 8   Release_Version      41292 non-null  int64
 9   OS_Version_Required  41292 non-null  int64
 10  Downloads            16516 non-null  object
dtypes: float64(3), int64(5), object(3)
memory usage: 3.8+ MB

In [79]:
from datetime import  datetime

In [81]:
# Extracting Date features 
def extract_time_features(df):
    df['Last_Updated_On']=pd.to_datetime(df['Last_Updated_On'])
    df['year'] = df['Last_Updated_On'].dt.year
    df['month'] = df['Last_Updated_On'].dt.month
    df['day_of_week'] = df['Last_Updated_On'].dt.dayofweek
    df['Day'] = df['Last_Updated_On'].dt.day
    df['DayOfyear'] = df['Last_Updated_On'].dt.dayofyear
    df['Week'] = pd.to_datetime(df['Last_Updated_On']).dt.week 
    df['Quarter'] = pd.to_datetime(df['Last_Updated_On']).dt.quarter  
    df['Is_month_start'] = pd.to_datetime(df['Last_Updated_On']).dt.is_month_start 
    df['Is_month_end'] = pd.to_datetime(df['Last_Updated_On']).dt.is_month_end
    df['Is_month_start'] = df['Is_month_start'].map({False : 0,True : 1})
    df['Is_month_end'] = df['Is_month_end'].map({False : 0,True : 1})
    
    return df

In [84]:
total = extract_time_features(total)

In [85]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41292 entries, 0 to 24775
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Offered_By           41292 non-null  object
 1   Category             41292 non-null  int64
 2   Rating               41292 non-null  float64
 3   Reviews              41292 non-null  int64
 4   Size                 36462 non-null  float64
 5   Price                41292 non-null  float64
 6   Content_Rating       41292 non-null  int64
 7   Last_Updated_On      41292 non-null  datetime64[ns]
 8   Release_Version      41292 non-null  int64
 9   OS_Version_Required  41292 non-null  int64
 10  Downloads            16516 non-null  object
 11  year                 41292 non-null  int64
 12  month                41292 non-null  int64
 13  day_of_week          41292 non-null  int64
 14  Day                  41292 non-null  int64
 15  DayOfyear            41292 non-null  int64
 16  Week                 41292 non-null  int64
 17  Quarter              41292 non-null  int64
 18  Is_month_start       41292 non-null  int64
 19  Is_month_end         41292 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(14), object(2)
memory usage: 6.6+ MB

In [88]:
#Splitting again back to Train and Test
final_train = total.iloc[:16516,:]
final_test = total.iloc[16516:,:]
print(final_train.shape,final_test.shape)

(16516, 20) (24776, 20)

In [89]:
final_test = final_test.drop(['Offered_By','Last_Updated_On','Downloads'],1)

In [90]:
X = final_train.drop(['Offered_By','Last_Updated_On','Downloads'],1)
y = final_train['Downloads']

In [91]:
from lightgbm import LGBMClassifier

In [92]:

clf_lgb = LGBMClassifier(n_estimators=100, random_state=123456789, n_jobs=-1)
clf_lgb.fit(X, y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=123456789, reg_alpha=0.0, reg_lambda=0.0,
               silent=True, subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [94]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(X=X,y=y,estimator=clf_lgb,scoring='accuracy',cv=5)
np.mean(score)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

0.40378086470660246

In [95]:
y_pread = clf_lgb.predict_proba(final_test)

In [106]:
y_pred = clf_lgb.predict(final_test)

In [100]:
y_pread[0][1]

0.0067906825043098735

In [99]:
submission.head()

     0    1    2    3    4    5    6  ...   11   12   13   14   15   16   17
0  0.0  0.0  0.0  0.0  0.1  0.0  0.0  ...  0.0  0.0  0.2  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.1  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.1  0.0
2  0.0  0.1  0.0  0.0  0.0  0.8  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.2  0.0  0.0  ...  0.0  0.0  0.2  0.0  0.0  0.1  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.4  0.0  0.0  0.1  0.0

[5 rows x 18 columns]

In [102]:
out = pd.DataFrame(y_pread)

In [103]:
out.head()

         0         1             2   ...        15        16        17
0  0.000189  0.006791  5.321205e-06  ...  0.000061  0.125182  0.000009
1  0.000000  0.000000  0.000000e+00  ...  0.000000  0.000000  0.000000
2  0.000042  0.024277  3.411661e-49  ...  0.000005  0.001829  0.000006
3  0.000790  0.009427  6.970805e-06  ...  0.000051  0.026864  0.000011
4  0.000266  0.025348  6.013822e-06  ...  0.000032  0.043522  0.000010

[5 rows x 18 columns]

In [111]:
label = train['Downloads'].unique()

In [118]:
sorted(list(label))

['1,000+',
 '1,000,000+',
 '1,000,000,000+',
 '10+',
 '10,000+',
 '10,000,000+',
 '100+',
 '100,000+',
 '100,000,000+',
 '5,000+',
 '5,000,000+',
 '5,000,000,000+',
 '50+',
 '50,000+',
 '50,000,000+',
 '500+',
 '500,000+',
 '500,000,000+']

In [107]:
y_pred = pd.DataFrame(y_pred)

In [108]:
y_pred.head()

             0
0     100,000+
1     100,000+
2  10,000,000+
3     100,000+
4     100,000+

In [104]:
out.shape

(24776, 18)

In [105]:
out.to_csv('sub_lgbm.csv',index = False)