<a href="https://colab.research.google.com/github/roshan-pasha/Machine-Learning/blob/master/Spardha_Analytics_Vidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
from google.colab import files

In [5]:
upload_train = files.upload()

Saving train.csv to train.csv

In [7]:
upload_cust =files.upload()

Saving customer.csv to customer.csv

In [8]:
upload_test = files.upload()

Saving test_F9a0NJV.csv to test_F9a0NJV.csv

In [9]:
upload_submission = files.upload()

Saving sample_submission_85njlT4.csv to sample_submission_85njlT4.csv

In [0]:
train = pd.read_csv(io.BytesIO(upload_train['train.csv']))
test = pd.read_csv(io.BytesIO(upload_test['test_F9a0NJV.csv']))
customer = pd.read_csv(io.BytesIO(upload_cust['customer.csv']))
submission = pd.read_csv(io.BytesIO(upload_submission['sample_submission_85njlT4.csv']))

In [114]:
train.head(5)

     cust_id         product_id  visit_date  ... prod_char_6 prod_char_7 purchase
0  cust_1312   prod_cat2_831559  22/09/2017  ...         NaN     cat 208        1
1  cust_1427  prod_cat2_4262088  05/08/2018  ...         NaN      cat 61        0
2  cust_8575  prod_cat2_2480790  15/10/2017  ...         NaN     cat 433        1
3  cust_6737  prod_cat2_2142924  23/10/2017  ...         NaN    cat 2114        0
4  cust_8169  prod_cat2_3877499  05/03/2018  ...         NaN       cat 2        0

[5 rows x 12 columns]

In [115]:
customer.head()

  cust_id    city   cust_group  ... cust_attrb_26 cust_attrb_27 cust_attrb_28
0  cust_0  city 2  group 17304  ...             0             0             0
1  cust_1  city 2  group 21731  ...             0             0            75
2  cust_2  city 2  group 48077  ...             1             1            87
3  cust_3  city 1  group 15391  ...             1             1            89
4  cust_4  city 2  group 17304  ...             0             0             0

[5 rows x 33 columns]

In [0]:
train_merge = train.merge(customer, how='left')

In [0]:
test_m = test.merge(customer,how = 'left')

In [119]:
train_merge.head()

     cust_id         product_id  ... cust_attrb_27 cust_attrb_28
0  cust_1312   prod_cat2_831559  ...             0            56
1  cust_1427  prod_cat2_4262088  ...             0            86
2  cust_8575  prod_cat2_2480790  ...             0            73
3  cust_6737  prod_cat2_2142924  ...             0            18
4  cust_8169  prod_cat2_3877499  ...             0             0

[5 rows x 44 columns]

In [120]:
train_merge.shape

(77000, 44)

In [121]:
test_m.shape

(22431, 43)

In [123]:
train_m = pd.concat([train_merge,test_m],axis = 0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [124]:
train_m.isna().sum()

campaign_category         0
city                      0
cust_approach_date        0
cust_attrb_1              0
cust_attrb_10             0
cust_attrb_11             0
cust_attrb_12             0
cust_attrb_13             0
cust_attrb_14             0
cust_attrb_15             0
cust_attrb_16             0
cust_attrb_17             0
cust_attrb_18             0
cust_attrb_19             0
cust_attrb_2              0
cust_attrb_20             0
cust_attrb_21             0
cust_attrb_22             0
cust_attrb_23             0
cust_attrb_24             0
cust_attrb_25             0
cust_attrb_26             0
cust_attrb_27             0
cust_attrb_28             0
cust_attrb_3              0
cust_attrb_4              0
cust_attrb_5              0
cust_attrb_6              0
cust_attrb_7              0
cust_attrb_8              0
cust_attrb_9              0
cust_group                0
cust_id                   0
cust_type                 0
prod_char_1           91477
prod_char_2           91477
prod_char_3           91477
prod_char_4           91477
prod_char_5           91477
prod_char_6           91477
prod_char_7            7954
product_id                0
purchase              22431
visit_date                0
dtype: int64

In [125]:
train_m.shape

(99431, 44)

In [126]:
test.shape

(22431, 11)

In [127]:
submission.shape

(22431, 2)

In [128]:
train_m.prod_char_4.value_counts(dropna=False)

NaN      91477
cat 3     4896
cat 1     1438
cat 4      655
cat 2      520
cat 5      290
cat 6      155
Name: prod_char_4, dtype: int64

In [129]:
train_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99431 entries, 0 to 22430
Data columns (total 44 columns):
campaign_category     99431 non-null object
city                  99431 non-null object
cust_approach_date    99431 non-null object
cust_attrb_1          99431 non-null object
cust_attrb_10         99431 non-null int64
cust_attrb_11         99431 non-null int64
cust_attrb_12         99431 non-null int64
cust_attrb_13         99431 non-null int64
cust_attrb_14         99431 non-null int64
cust_attrb_15         99431 non-null int64
cust_attrb_16         99431 non-null int64
cust_attrb_17         99431 non-null int64
cust_attrb_18         99431 non-null int64
cust_attrb_19         99431 non-null int64
cust_attrb_2          99431 non-null object
cust_attrb_20         99431 non-null int64
cust_attrb_21         99431 non-null int64
cust_attrb_22         99431 non-null int64
cust_attrb_23         99431 non-null int64
cust_attrb_24         99431 non-null int64
cust_attrb_25         99431 non-null int64
cust_attrb_26         99431 non-null int64
cust_attrb_27         99431 non-null int64
cust_attrb_28         99431 non-null int64
cust_attrb_3          99431 non-null object
cust_attrb_4          99431 non-null object
cust_attrb_5          99431 non-null object
cust_attrb_6          99431 non-null object
cust_attrb_7          99431 non-null object
cust_attrb_8          99431 non-null int64
cust_attrb_9          99431 non-null int64
cust_group            99431 non-null object
cust_id               99431 non-null object
cust_type             99431 non-null object
prod_char_1           7954 non-null object
prod_char_2           7954 non-null object
prod_char_3           7954 non-null object
prod_char_4           7954 non-null object
prod_char_5           7954 non-null object
prod_char_6           7954 non-null object
prod_char_7           91477 non-null object
product_id            99431 non-null object
purchase              77000 non-null float64
visit_date            99431 non-null object
dtypes: float64(1), int64(21), object(22)
memory usage: 34.1+ MB

In [0]:
train_m['cust_approach_date'] =  pd.to_datetime(train_m['cust_approach_date'])

In [0]:
train_m['visit_date'] = pd.to_datetime(train_m['visit_date'])

In [0]:
 train_m['diff_cust_visit_approch'] = abs(train_m.visit_date - train_m.cust_approach_date).dt.days

In [141]:
train_m.diff_cust_visit_approch.sample(5)

49818    862
10127    334
2383     136
4381     155
19985    584
Name: diff_cust_visit_approch, dtype: int64

In [142]:
train_m.tail(10)

      campaign_category    city  ... visit_date diff_cust_visit_approch
22421            type 1  city 1  ... 2018-02-18                       0
22422            type 3  city 2  ... 2018-07-16                      25
22423            type 3  city 2  ... 2018-06-22                       1
22424            type 2  city 2  ... 2017-11-24                     293
22425            type 2  city 2  ... 2017-07-20                     166
22426            type 2  city 2  ... 2017-06-11                     127
22427            type 2  city 2  ... 2018-01-01                     331
22428            type 1  city 2  ... 2018-03-14                      39
22429            type 5  city 2  ... 2018-06-30                       1
22430            type 4  city 2  ... 2017-12-20                     328

[10 rows x 45 columns]

In [143]:
for col in train_m.columns:
  print(col, ': ', len(train_m[col].unique()),'labels')

campaign_category :  7 labels
city :  2 labels
cust_approach_date :  1011 labels
cust_attrb_1 :  38 labels
cust_attrb_10 :  2 labels
cust_attrb_11 :  2 labels
cust_attrb_12 :  2 labels
cust_attrb_13 :  2 labels
cust_attrb_14 :  2 labels
cust_attrb_15 :  2 labels
cust_attrb_16 :  2 labels
cust_attrb_17 :  2 labels
cust_attrb_18 :  2 labels
cust_attrb_19 :  2 labels
cust_attrb_2 :  25 labels
cust_attrb_20 :  2 labels
cust_attrb_21 :  2 labels
cust_attrb_22 :  2 labels
cust_attrb_23 :  2 labels
cust_attrb_24 :  2 labels
cust_attrb_25 :  2 labels
cust_attrb_26 :  2 labels
cust_attrb_27 :  2 labels
cust_attrb_28 :  101 labels
cust_attrb_3 :  9 labels
cust_attrb_4 :  7 labels
cust_attrb_5 :  25 labels
cust_attrb_6 :  8 labels
cust_attrb_7 :  9 labels
cust_attrb_8 :  2 labels
cust_attrb_9 :  2 labels
cust_group :  3291 labels
cust_id :  7540 labels
cust_type :  3 labels
prod_char_1 :  42 labels
prod_char_2 :  30 labels
prod_char_3 :  11 labels
prod_char_4 :  7 labels
prod_char_5 :  7 labels
prod_char_6 :  6 labels
prod_char_7 :  2070 labels
product_id :  99431 labels
purchase :  3 labels
visit_date :  409 labels
diff_cust_visit_approch :  1284 labels

In [144]:
train_m.columns

Index(['campaign_category', 'city', 'cust_approach_date', 'cust_attrb_1',
       'cust_attrb_10', 'cust_attrb_11', 'cust_attrb_12', 'cust_attrb_13',
       'cust_attrb_14', 'cust_attrb_15', 'cust_attrb_16', 'cust_attrb_17',
       'cust_attrb_18', 'cust_attrb_19', 'cust_attrb_2', 'cust_attrb_20',
       'cust_attrb_21', 'cust_attrb_22', 'cust_attrb_23', 'cust_attrb_24',
       'cust_attrb_25', 'cust_attrb_26', 'cust_attrb_27', 'cust_attrb_28',
       'cust_attrb_3', 'cust_attrb_4', 'cust_attrb_5', 'cust_attrb_6',
       'cust_attrb_7', 'cust_attrb_8', 'cust_attrb_9', 'cust_group', 'cust_id',
       'cust_type', 'prod_char_1', 'prod_char_2', 'prod_char_3', 'prod_char_4',
       'prod_char_5', 'prod_char_6', 'prod_char_7', 'product_id', 'purchase',
       'visit_date', 'diff_cust_visit_approch'],
      dtype='object')

In [0]:
dummy_treatment = ['cust_id','campaign_category',
       'prod_char_1', 'prod_char_2', 'prod_char_3', 'prod_char_4',
       'prod_char_5', 'prod_char_6', 'prod_char_7', 'city',
       'cust_group', 'cust_type', ', 'cust_attrb_1',
       'cust_attrb_2', 'cust_attrb_3', 'cust_attrb_4', 'cust_attrb_5',
       'cust_attrb_6', 'cust_attrb_7']

In [0]:
train_m['cust_attrb_1'] = train_m['cust_attrb_1'].str.split(' ').str[-1]
train_m['cust_attrb_2'] = train_m['cust_attrb_2'].str.split(' ').str[-1]
train_m['cust_attrb_3'] = train_m['cust_attrb_3'].str.split(' ').str[-1]
train_m['cust_attrb_4'] = train_m['cust_attrb_4'].str.split(' ').str[-1]
train_m['cust_attrb_5'] = train_m['cust_attrb_5'].str.split(' ').str[-1]
train_m['cust_attrb_6'] = train_m['cust_attrb_6'].str.split(' ').str[-1]
train_m['cust_attrb_7'] = train_m['cust_attrb_7'].str.split(' ').str[-1]
train_m['cust_type'] = train_m['cust_type'].str.split(' ').str[-1]
train_m['city'] = train_m['city'].str.split(' ').str[-1]
train_m['prod_char_1'] = train_m['prod_char_1'].str.split(' ').str[-1]
train_m['prod_char_2'] = train_m['prod_char_2'].str.split(' ').str[-1]
train_m['prod_char_3'] = train_m['prod_char_3'].str.split(' ').str[-1]
train_m['prod_char_4'] = train_m['prod_char_4'].str.split(' ').str[-1]
train_m['prod_char_5'] = train_m['prod_char_5'].str.split(' ').str[-1]
train_m['prod_char_6'] = train_m['prod_char_6'].str.split(' ').str[-1]
train_m['prod_char_7'] = train_m['prod_char_7'].str.split(' ').str[-1]
train_m['campaign_category'] = train_m['campaign_category'].str.split(' ').str[-1]

In [149]:
train_m.head()

  campaign_category city  ... visit_date diff_cust_visit_approch
0                 5    2  ... 2017-09-22                     792
1                 3    2  ... 2018-05-08                    1003
2                 5    2  ... 2017-10-15                       1
3                 5    2  ... 2017-10-23                       1
4                 3    2  ... 2018-05-03                     173

[5 rows x 45 columns]

In [0]:
train_m['cust_attrb_1'] = train_m['cust_attrb_1'].astype(float)
train_m['cust_attrb_2'] = train_m['cust_attrb_2'].astype(float)
train_m['cust_attrb_3'] = train_m['cust_attrb_3'].astype(float)
train_m['cust_attrb_4'] = train_m['cust_attrb_4'].astype(float)
train_m['cust_attrb_5'] = train_m['cust_attrb_5'].astype(float)
train_m['cust_attrb_6'] = train_m['cust_attrb_6'].astype(float)
train_m['cust_attrb_7'] = train_m['cust_attrb_7'].astype(float)
train_m['cust_type'] = train_m['cust_type'].astype(float)
train_m['city'] = train_m['city'].astype(float)
train_m['prod_char_1'] = train_m['prod_char_1'].astype(float)
train_m['prod_char_2'] = train_m['prod_char_2'].astype(float)
train_m['prod_char_3'] = train_m['prod_char_3'].astype(float)
train_m['prod_char_4'] = train_m['prod_char_4'].astype(float)
train_m['prod_char_5'] = train_m['prod_char_5'].astype(float)
train_m['prod_char_6'] = train_m['prod_char_6'].astype(float)
train_m['prod_char_7'] = train_m['prod_char_7'].astype(float)
train_m['campaign_category'] = train_m['campaign_category'].astype(float)

In [151]:
train_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99431 entries, 0 to 22430
Data columns (total 45 columns):
campaign_category          99431 non-null float64
city                       99431 non-null float64
cust_approach_date         99431 non-null datetime64[ns]
cust_attrb_1               99431 non-null float64
cust_attrb_10              99431 non-null int64
cust_attrb_11              99431 non-null int64
cust_attrb_12              99431 non-null int64
cust_attrb_13              99431 non-null int64
cust_attrb_14              99431 non-null int64
cust_attrb_15              99431 non-null int64
cust_attrb_16              99431 non-null int64
cust_attrb_17              99431 non-null int64
cust_attrb_18              99431 non-null int64
cust_attrb_19              99431 non-null int64
cust_attrb_2               99431 non-null float64
cust_attrb_20              99431 non-null int64
cust_attrb_21              99431 non-null int64
cust_attrb_22              99431 non-null int64
cust_attrb_23              99431 non-null int64
cust_attrb_24              99431 non-null int64
cust_attrb_25              99431 non-null int64
cust_attrb_26              99431 non-null int64
cust_attrb_27              99431 non-null int64
cust_attrb_28              99431 non-null int64
cust_attrb_3               99431 non-null float64
cust_attrb_4               99431 non-null float64
cust_attrb_5               99431 non-null float64
cust_attrb_6               99431 non-null float64
cust_attrb_7               99431 non-null float64
cust_attrb_8               99431 non-null int64
cust_attrb_9               99431 non-null int64
cust_group                 99431 non-null object
cust_id                    99431 non-null object
cust_type                  99431 non-null float64
prod_char_1                7954 non-null float64
prod_char_2                7954 non-null float64
prod_char_3                7954 non-null float64
prod_char_4                7954 non-null float64
prod_char_5                7954 non-null float64
prod_char_6                7954 non-null float64
prod_char_7                91477 non-null float64
product_id                 99431 non-null object
purchase                   77000 non-null float64
visit_date                 99431 non-null datetime64[ns]
diff_cust_visit_approch    99431 non-null int64
dtypes: datetime64[ns](2), float64(18), int64(22), object(3)
memory usage: 34.9+ MB

In [152]:
train_m.cust_group.value_counts().sort_values(ascending = False, ).head(20)

group 17304    32133
group 3250       760
group 8386       558
group 36344      521
group 667        512
group 25079      450
group 3414       357
group 6942       356
group 1379       353
group 3468       331
group 1325       302
group 35472      295
group 28853      293
group 9280       287
group 283        285
group 5149       278
group 23186      272
group 450        260
group 565        251
group 23656      250
Name: cust_group, dtype: int64

In [153]:
top_10 = [x for x in train_m.cust_group.value_counts().sort_values(ascending=False).head(10).index]
top_10

['group 17304',
 'group 3250',
 'group 8386',
 'group 36344',
 'group 667',
 'group 25079',
 'group 3414',
 'group 6942',
 'group 1379',
 'group 3468']

In [0]:
# for lable in top_10:
#   train_m[lable] = np.where(train['cust_group']== lable,1,0)


# train_m[['cust_group'] + top_10].head()

In [155]:
def one_hot_top_x(df, variable, top_x_lable):
  for lable in top_x_lable:
    df[variable+'_'+lable] = np.where(df[variable] == lable , 1 ,0 )

one_hot_top_x(train_m, 'cust_group', top_10)  
train_m.head()

   campaign_category  city  ... cust_group_group 1379  cust_group_group 3468
0                5.0   2.0  ...                     0                      0
1                3.0   2.0  ...                     0                      0
2                5.0   2.0  ...                     0                      0
3                5.0   2.0  ...                     0                      0
4                3.0   2.0  ...                     0                      0

[5 rows x 55 columns]

In [156]:
train_m.shape

(99431, 55)

In [0]:
train_m = train_m.drop(['cust_id','product_id'],axis = 1)

In [0]:
train_m = train_m.drop(['cust_group'],axis = 1)

In [0]:
train_m = train_m.drop(['cust_approach_date','visit_date'],axis = 1)

In [172]:
train_m.head()

   campaign_category  city  ...  cust_group_group 1379  cust_group_group 3468
0                5.0   2.0  ...                      0                      0
1                3.0   2.0  ...                      0                      0
2                5.0   2.0  ...                      0                      0
3                5.0   2.0  ...                      0                      0
4                3.0   2.0  ...                      0                      0

[5 rows x 50 columns]

In [173]:
train_m.shape

(99431, 50)

In [0]:
final_train = train_m.iloc[:77000,:]
final_test = train_m.iloc[77000:,:]

In [175]:
final_train.shape

(77000, 50)

In [176]:
final_test = final_test.drop(['purchase'],axis = 1)
final_test.shape

(22431, 49)

In [0]:
X_train = final_train.drop(['purchase'],axis = 1)
y_train = final_train['purchase']

In [0]:
X_train = X_train.fillna(value=0)

In [0]:
final_test1 = final_test.copy(deep = True)

In [0]:
final_test1 = final_test1.fillna(value=0)

In [196]:
X_train.isna().sum()

campaign_category          0
city                       0
cust_attrb_1               0
cust_attrb_10              0
cust_attrb_11              0
cust_attrb_12              0
cust_attrb_13              0
cust_attrb_14              0
cust_attrb_15              0
cust_attrb_16              0
cust_attrb_17              0
cust_attrb_18              0
cust_attrb_19              0
cust_attrb_2               0
cust_attrb_20              0
cust_attrb_21              0
cust_attrb_22              0
cust_attrb_23              0
cust_attrb_24              0
cust_attrb_25              0
cust_attrb_26              0
cust_attrb_27              0
cust_attrb_28              0
cust_attrb_3               0
cust_attrb_4               0
cust_attrb_5               0
cust_attrb_6               0
cust_attrb_7               0
cust_attrb_8               0
cust_attrb_9               0
cust_type                  0
prod_char_1                0
prod_char_2                0
prod_char_3                0
prod_char_4                0
prod_char_5                0
prod_char_6                0
prod_char_7                0
diff_cust_visit_approch    0
cust_group_group 17304     0
cust_group_group 3250      0
cust_group_group 8386      0
cust_group_group 36344     0
cust_group_group 667       0
cust_group_group 25079     0
cust_group_group 3414      0
cust_group_group 6942      0
cust_group_group 1379      0
cust_group_group 3468      0
dtype: int64

In [0]:
# Importing random forest classifier from sklearn library
from sklearn.ensemble import RandomForestClassifier
# Running the random forest with default parameters.
rfc = RandomForestClassifier()
# Importing classification report and confusion matrix from sklearn metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

In [197]:
# fit model
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
import xgboost

In [228]:
classifier = xgboost.XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
y_pred1 = rfc.predict_proba(final_test1)[:,1]

In [0]:
y_pred = classifier.predict_proba(final_test1)[:,1]

In [0]:
submission.purchase = y_pred

In [234]:
submission.head()

     cust_id  purchase
0     cust_1  0.742296
1     cust_1  0.742296
2   cust_100  0.574880
3  cust_1002  0.797088
4  cust_1006  0.000827

In [0]:
submission.cust_id = test.cust_id

In [0]:
# y_presd = claa.predict_proba(test_final)[:,1]

In [0]:
submission.to_csv('submission_2.csv')

In [208]:
!cp submission_1.csv drive/My\ Drive

cp: cannot create regular file 'drive/My Drive': No such file or directory

In [0]:
from sklearn.ensemble import  GradientBoostingClassifier
gbc1 = GradientBoostingClassifier(n_estimators=100,max_depth=6,learning_rate = 0.1)
model_gbc1 = gbc1.fit(X_train,y_train)
prediction_train_gbc1 = model_gbc1.predict(X_train)

In [0]:
from sklearn.model_selection import cross_val_score
all_scores = cross_val_score(estimator=gbc1,X =X_train,y=y_train,cv = 5,scoring = 'roc_auc')

In [218]:
all_scores

array([0.98176176, 0.97936063, 0.98003092, 0.9816506 , 0.9782806 ])

In [0]:
y_pred2 = model_gbc1.predict_proba(final_test1)[:,1]

In [0]:
submission.purchase = y_pred2

In [225]:
submission.head(5)

     cust_id  purchase
0     cust_1  0.609063
1     cust_1  0.625321
2   cust_100  0.568554
3  cust_1002  0.809116
4  cust_1006  0.003054

In [0]:
submission.to_csv('submission_3.csv')